* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

p {
  font-size: 1.5rem;
  font-family: "Gill Sans";
  text-align: justify;
  font-weight: bold;
  color: gray;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 20, 81);
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.862), rgba(0, 0, 0, 0.89)), url("../images/invierno.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container h1 {
  color: transparent;
  font-size: 6rem;
  background-image: url("../images/invierno.jpg");
  background-position: top center;
  background-size: cover;
  background-clip: text;
  background-attachment: fixed;
  transition: 0.5s;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 60px;
  height: 500px;
  background: radial-gradient(circle, rgb(152, 32, 126), rgb(65, 22, 108));
}
.box h2 {
  color: white;
  font-size: 2rem;
  background: linear-gradient(145deg, rgba(26, 31, 134, 0.862), rgba(41, 132, 151, 0.89));
  padding: 1rem;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 50%;
  transition: background-size 0.5s, border-color 0.7s, transform 0.5s;
  border-radius: 10px;
  border: 1px solid transparent;
}
.box .square {
  width: 300px;
  height: 300px;
  background-color: #eee;
  transition: 0.4s;
}

@keyframes animacion {
  0% {
    height: 320px;
    width: 320px;
    background-color: aquamarine;
  }
  25% {
    transform: rotate(90deg);
    border-radius: 100%;
    background-color: rgb(50, 118, 25);
  }
  33% {
    transform: scale(1.5) translate(50%, 50%);
    background-color: burlywood;
  }
  50% {
    transform: translate(15%, 60%);
    transform: rotate(45deg);
    border-radius: 0;
  }
  100% {
    transform: translate(-15%, 60%);
    height: 320px;
    width: 320px;
    background-color: aquamarine;
  }
}
.marquee {
  width: 100%;
  height: 200px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  overflow: hidden;
}
.marquee ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
  animation: marquee-animation 20s linear infinite;
}
.marquee ul li {
  color: white;
  font-size: 6rem;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carousel {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: carousel 15s infinite linear;
}
.carousel .slide:nth-child(1) {
  animation-delay: 0s;
}
.carousel .slide:nth-child(2) {
  animation-delay: 5s;
}
.carousel .slide:nth-child(3) {
  animation-delay: 10s;
}
.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
