//maps

$colores: (
  primary: rgb(11, 11, 141),
  danger: rgb(162, 5, 5),
  warning: rgb(245, 68, 3),
  dark: black,
  light: white,
  success: rgb(0, 128, 0),
  info: gray,
  secondary: rgb(255, 0, 72),
  terciary: rgb(183, 4, 206)
);
